body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
}

.cabecao {
    display: inline-block;
    margin-left: 2%;
    color: white;
}

.btn {
    width: 200px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    background: linear-gradient(to right, #4a3c8b, #334195, #166e55);
    opacity: 1;
}

.btn:hover {
    opacity: 0.8;
    color: #fff;
    transition: 1s;
}

.aulas {
    width: 100%;
    align-items: center;
    text-align: center;
    color: white;
}

.aulas a {
    color: white;
}

.aula {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    color: white;
}

.aula a {
    background: linear-gradient(to right, #4a3c8b, #334195, #166e55), rgb(138, 138, 138);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: underline rgb(82, 82, 82);
}

iframe {
    width: 100%;
    height: 400px;
    box-shadow: 0px 7px 20px white;
}

@media screen and (max-width: 480px) {
    .aula {
        margin: 2%;
        width: 96%;
    }
    .prox_aula {
        display: none;
    }
    .prox_aula2 {
        display: block;
    }
    iframe {
        height: 200px;
    }
}